.card {
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 48%;
}

.card-header {
    display: flex;
    gap: 10px;
}

.card-body {
    margin: 10px 0;
}

.description {
    color: gray;
    font-size: 14px;
    margin: 5px 0;
}

@media screen and (max-width: 1024px) {
    .card {
        width: 100%;
    }
}